<!-- <div class="row">
    <div class="clearfix visible-sm"></div>
    <div class="col-md-2 col-sm-6 col-xs-4 gridtile">Hello</div>
    <div class="clearfix visible-sm"></div>   umbruch

    <div class="col-md-2 col-sm-6 col-xs-12 gridtile">Col 1</div>
    <div class="col-md-2 col-sm-6 col-xs-12 gridtile">Col 2</div>
    <div class="col-md-2 col-sm-6 col-xs-12 gridtile">Col 3</div>
    <div class="col-md-2 col-sm-6 col-xs-12 gridtile">Col 4</div>
</div> -->

<!-- <div *ngFor="let product of products; index as i" class="product_card" id="{{product.name}}">   
<img src="{{product.image}}" alt="{{product.name}}" />
<ul class="product_icons">
    <li><a href="#"><i class="bi bi-cart-plus"></i></a></li>
    <li><a href="#"><i class="bi bi-heart"></i></a></li>
    <li><a href="#"><i class="bi bi-arrows-angle-expand"></i></a></li>
</ul> -->




<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5 col-xxl-3 bg-success">
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg
        </div>
        <div class="col-sm-5 col-xxl-3 bg-warning">
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg
        </div>
        <div class="col-sm-5 col-xxl-3 bg-success">
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg</div>
        <div class="col-sm-5 col-xxl-3 bg-warning">
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg
        </div>
    </div>

<!-- <div class="container">
    <div class="row row-cols-2">
        <div class="col col-1 col-sm-1 col-md-2 col-lg-2 col-xxl-4">
            
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg


        </div>
        <div class="col col-1 col-sm-1 col-md-2 col-lg-2 col-xxl-4">
            
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>

            -50€- 35€
            1kg
        </div>
        <div class="col col-1 col-sm-1 col-md-2 col-lg-2 col-xxl-4">
            
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg
        </div>
        <div class="col col-1 col-sm-1 col-md-2 col-lg-2 col-xxl-4">
             
            <img src="../../../assets/Images/basil.png">
            <div class="clearfix visible-sm"></div>
            -50€- 35€
            1kg
        </div>
    </div>
  </div> -->