<nav class="navbar">
    <ul class="navbar-links">
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/my-account">Mein Konto</a></li>
        <li><a href="/shopping-cart">Warenkorb</a></li>
    </ul>
    <div class="search-container">
        <!-- <form action="/action_page.php"> -->
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="bi bi-search"></i></button>
        <!-- </form> -->
    </div>  
</nav>