<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to Herb Shop <i class="bi bi-cart"></i></h1>
    <p class="lead">Discover the power of nature's healing herbs</p>
    <a class="btn btn-primary btn-lg" href="/shop" role="button">Explore Our Products</a>
  </div>
</div>

<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis facilisis urna. Nullam tempus aliquet
          sapien, id fermentum justo consectetur id. Suspendisse potenti.</p>
      </div>
      <div class="col-lg-6">
        <img src="path/to/your/about/image.jpg" class="img-fluid" alt="About Us">
      </div>
    </div>
  </div>
</section>