@import url(../../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/normalize.css/normalize.css);

:root {
  --navbar-height: 90px;
  --footer-height: 160px;
}

* {
  font-family: "Poppins", sans-serif;
}

router-outlet+* {
  position: relative;
  display: block;
  min-height: calc(100vh - var(--footer-height));
  padding-top: calc(50px + var(--navbar-height));
  /* top: var(--navbar-height); */
}