<!-- <nav class="navbar navbar-expand-md navbar-light navbar-custom">
    <div class="container">
      Mein Account
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="./">Order History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Account_Options">Account Options</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Account_Logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <div class="container">
    <div class="order-list">
      <h2>Order History</h2>
      <ul class="list-group">

        <li *ngFor="let order of orders" class="list-group-item">
          <div class="row w-100">
            <div class="col">Order ID: {{order.id}}</div>
            <details class="col" >
              <summary>Products</summary>
              <div *ngFor="let product of order.products">
                <span>{{product.amount}}x {{product.productName}}</span>
              </div>
            </details>
            <div class="col">Date: {{order.formattedDate()}}</div>
            <div class="col text-right">Total Amount: {{order.total().toFixed(2)}}€</div>
          </div>
        </li>
          <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#order1Details"
            aria-expanded="false" aria-controls="order1Details">Show More Details</button>    
          <div class="collapse mt-3" id="order1Details">
            <p>Order Details for Order ID 1...</p>
          </div> -->

      </ul>
    </div>
  </div>