<body>
    <section class="section-products">
        <!--<div class="second_navbar">
            <div class="second_navbar_items">
                <input type="button" id="searchbutton">
                <label for="searchbutton" class="searchbuttonicon_container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </label>
            </div>
        </div>-->
        <div class="container">
            <div class="product_container">
            <!-- Single Product -->
                <div *ngFor="let product of products; index as i" class="product_card" id="{{product.name}}">
                    <div class="single-product" id="{{product.name}}">
                        <div class="part-1">
                            <img src="{{product.image}}" alt="{{product.name}}"/>
                            <span [ngClass]="discountClass" class="discount"><i class="fa-solid fa-beat">{{product.discount}}</i></span>
                                <ul class="product_icons">
                                    <li><a href="#"><i class="bi bi-cart-plus"></i></a></li> <!--<i class="bi bi-cart"></i>    <i class="fa-solid fa-cart-shopping"></i>-->
                                    <li><a href="#"><i class="bi bi-heart"></i></a></li> <!-- <i class="bi bi-heart"></i>  <i class="fa-solid fa-heart"></i>-->
                                    <!--<li><a href="#"><i class="bi bi-patch-plus"></i></a></li>--> <!-- <i class="bi bi-patch-plus"> </i> <i class="fa-solid fa-plus"></i>-->
                                    <li><a href="#"><i class="bi bi-arrows-angle-expand"></i></a></li> <!-- <i class="bi bi-arrows-angle-expand"></i>  <i class="fa-solid fa-expand"></i>-->
                                </ul>
                        </div>
                        <div class="product_details">
                            <h3 class="product-title">{{product.name}}</h3>
                            <h4 class="product-old-price"><i class="fa-solid fa-strikethrough">{{product.oldprice}}</i></h4>
                            <h4 class="product-price">{{product.price}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>