@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


section
{
    background-color: rgb(255, 240, 220);
}

.section-products
{
    display: block;
    width: 100%;
    background-color: #fe302f;
}

.navbar
{
    display: block;
    position: fixed;
    width: 97.9%;
    z-index: 10;
}

.bi
{
    height: 25px;
    width: 25px;
}

.icon_text
{
    display: flex;
    align-items: center;
}

.navbaricontext 
{
    font-size: 20px;
}

.navicon
{
    display: flex;
}

.navbar
{
    background-color: rgb(207, 186, 175);
}

.Header__FlexItem
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20%;
    display: flex;
    column-gap: 20px;
    position: sticky;
}

.Header__FlexItem--fill:last-child
{
    justify-content: flex-end;
}

.navbaricontext
{
    padding: 4px;
}

.header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    align-items: flex-start;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}



.product_container
{
    display: flex;
    /*flex-flow: row wrap;*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}
/*
.section-products {
    padding: 80px 0 54px;
}
*/


.section-products .single-product 
{
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products .single-product .part-1 img:hover 
{
	transform: scale(1.2,1.2) rotate(5deg);
    border-radius: 8px;
}

.section-products .single-product .part-1 img 
{
    max-width: 100%;    /*percentage width of the "container" not original-image size  */
    width: 80%;
    min-width: 10%;
    justify-items: center;
}

.section-products .single-product .part-1
{
    border-top-left-radius: 10%;
    padding: 0%;
    
}

/*
.section-products #product-1 .part-1::before {
    background: url("../../../assets/images/rosmarin.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../../../assets/images/thyme.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-3 .part-1::before {
    background: url("../../../assets/images/pepper.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-4 .part-1::before {
    background: url("../../../assets/images/basil.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-5 .part-1::before {
    background: url("../../../assets/images/Trueffel.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-6 .part-1::before {
    background: url("../../../assets/images/Mahlab.png") no-repeat center;
    background-size: contain;
}

.section-products #product-7 .part-1::before {
    background: url("../../../assets/images/safran2.png") no-repeat center;
    background-size: contain;
}

.section-products #product-8 .part-1::before {
    background: url("../../../assets/images/vanille.png") no-repeat center;
    background-size: contain;
}
*/

.section-products .single-product .part-1 .discount,    /* discount */
.section-products .single-product .part-1 .new {        /* Text-Style of *NEW* */
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {    /* Icon visibility */
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {   /* Icon alignment */
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {         /* All Icons */
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /*background-color: #ffffff;*/
    /*background-image: url("../../../assets/images/solid_shopping-cart.png");*/
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 20%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .product_details .product-title {
    font-size: 1rem;
}

.section-products .single-product .product_details h4 {  /* Price alignment */
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .product_details .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .product_details .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/*.section-products .single-product .part-1 ul li a
{
    background-color: #000000;
}
*/
/*
.cart
{
    background-color: #6b3838;
}

.section-products .single-product .part-1 ul li a i
{
    background-color: #fe302f;
}

.section-products .single-product .part-1 ul li a i 

{
    background-color: #069aea;
}

.section-products .single-product .part-1 ul li a i
{
    background-color: #13c90a;
} */

.product_card
{
    width: 400px;
    height: 400px;
}
