@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

<<<<<<< HEAD
=======
.row
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
a,
a:hover {
    text-decoration: none;
    color: inherit;
}

<<<<<<< HEAD
.section-products {
    padding: 80px 0 54px;
}
=======
/*.section-products {
    padding: 80px 0 54px;
}*/
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

<<<<<<< HEAD
=======
.section-products #product-1 .part-1::before {
    background: url("../../../assets/images/rosmarin.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("../../../assets/images/thyme.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-3 .part-1::before {
    background: url("../../../assets/images/pepper.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-4 .part-1::before {
    background: url("../../../assets/images/basil.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
.section-products #product-5 .part-1::before {
    background: url("../../../assets/images/Trueffel.png") no-repeat center;
    background-size: contain;
		transition: all 0.3s;
}

.section-products #product-6 .part-1::before {
    background: url("../../../assets/images/Mahlab.png") no-repeat center;
    background-size: contain;
}

.section-products #product-7 .part-1::before {
<<<<<<< HEAD
    background: url("../../../assets/images/safran.png") no-repeat center;
=======
    background: url("../../../assets/images/safran2.png") no-repeat center;
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    background-size: contain;
}

.section-products #product-8 .part-1::before {
    background: url("../../../assets/images/vanille.png") no-repeat center;
    background-size: contain;
}

<<<<<<< HEAD
.section-products .single-product .part-1 .discount,    /* Rabattanzeige */
.section-products .single-product .part-1 .new {
=======
.section-products .single-product .part-1 .discount,    /* discount */
.section-products .single-product .part-1 .new {        /* Text-Style of *NEW* */
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

<<<<<<< HEAD
.section-products .single-product:hover .part-1 ul {
=======
.section-products .single-product:hover .part-1 ul {    /* Icon visibility */
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    bottom: 30px;
    opacity: 1;
}

<<<<<<< HEAD
.section-products .single-product .part-1 ul li {
=======
.section-products .single-product .part-1 ul li {   /* Icon alignment */
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    display: inline-block;
    margin-right: 4px;
}

<<<<<<< HEAD
.section-products .single-product .part-1 ul li a {         /* Icons */
=======
.section-products .single-product .part-1 ul li a {         /* All Icons */
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
<<<<<<< HEAD
    background-color: #ffffff;
    background-image: url("../../../assets/images/solid_shopping-cart.png");
=======
    /*background-color: #ffffff;*/
    /*background-image: url("../../../assets/images/solid_shopping-cart.png");*/
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

<<<<<<< HEAD
.section-products .single-product .part-2 h4 {
=======
.section-products .single-product .part-2 h4 {  /* Price alignment */
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

<<<<<<< HEAD
.section-products .single-product .part-1 ul li #cart
=======
.section-products .single-product .part-1 ul li a
{
    background-color: #000000;
}

.cart
{
    background-color: #6b3838;
}

.section-products .single-product .part-1 ul li a i
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
{
    background-color: #fe302f;
}

<<<<<<< HEAD
.shopping-cart
{
    background-color: #fe302f;
}

.heart
{
    background-color: #fe302f;
}

.plus
{
    background-color: #fe302f;
}

.expand
{
    background-color: #fe302f;
=======
.section-products .single-product .part-1 ul li a i 

{
    background-color: #069aea;
}

.section-products .single-product .part-1 ul li a i
{
    background-color: #13c90a;
>>>>>>> 4556ed391b99e0785aed3b5174f83120a049d91f
}

.product_card
{
    width: 400px;
    height: 400px;
}