<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h3>Featured Product</h3>
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
           <!-- Single Product -->
            <div *ngFor="let product of products; index as i" class="product_card" id="{{product.name}}">
                <div class="single-product" id="{{product.name}}">
                <!--<img src="{{product.image}}"/>-->
                    <div class="part-1">
                        <img src="{{product.image}}" alt="{{product.name}}"/>
                        <span class="discount"><i class="fa-solid fa-beat">{{product.discount}}</i></span>
                            <ul>
                                <li><a href="#"><i class="bi bi-cart"></i></a></li> <!--<i class="bi bi-cart"></i>    <i class="fa-solid fa-cart-shopping"></i>-->
                                <li><a href="#"><i class="bi bi-heart"></i></a></li> <!-- <i class="bi bi-heart"></i>  <i class="fa-solid fa-heart"></i>-->
                                <li><a href="#"><i class="bi bi-patch-plus"></i></a></li> <!-- <i class="bi bi-patch-plus"> </i> <i class="fa-solid fa-plus"></i>-->
                                <li><a href="#"><i class="bi bi-arrows-angle-expand"></i></a></li> <!-- <i class="bi bi-arrows-angle-expand"></i>  <i class="fa-solid fa-expand"></i>-->
                            </ul>
                    </div>
                    <div class="product_details">
                        <h3 class="product-title">{{product.name}}</h3>
                        <h4 class="product-old-price"><i class="fa-solid fa-strikethrough">{{product.oldprice}}</i></h4>
                        <h4 class="product-price">{{product.price}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>